# phpstorm project files
.idea
.vscode

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar

# local phpunit config
/phpunit.xml

# SecMon project related
docker-compose.yml
/config/.lock
/config/db.php
/config/anomaly_config.ini
/config/secmon_config.yaml
/config/cti_config.json
config/ip_rep.csv
/config/aggregator_config.ini
/deployment/certificates
/rules
/runtime
composer.lock
output/
/pids

# pycache is not needed
__pycache__/

# error logs
error.log