# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar

# local phpunit config
/phpunit.xml

/runtime
/config/db.php
/secdb/config.ini
/config/config_secdb.ini
/config/anomaly_config.ini
/config/secmon_config.ini
/config/aggregator_config.ini
docker-compose.yml
composer.lock
lastdepoy.txt
output/

# pycache is not needed
__pycache__/

#error logs
error.log
