[Unit]
Description=SecMon service, database retention module
After=systemd-user-sessions.service
[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/database-retention.sh
KillMode=control-group
[Install]
WantedBy=multi-user.target
