[Unit]
Description=SecMon service, geoip data enrichment module
After=systemd-user-sessions.service
[Service]
Type=simple
RemainAfterExit=yes
WorkingDirectory=/var/www/html/secmon
ExecStart=/usr/bin/secmon-geoip.sh
KillMode=control-group
[Install]
WantedBy=multi-user.target
