[Unit]
Description=SecMon service, correlates received events and stores them in db
After=systemd-user-sessions.service
[Service]
Type=simple
RemainAfterExit=yes
WorkingDirectory=/var/www/html/secmon
ExecStart=/usr/bin/worker-correlator.sh
KillMode=control-group
[Install]
WantedBy=multi-user.target
