.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

header, main, footer {
  margin-left: 300px;
}
.no-sidebar > header, .no-sidebar > main, .no-sidebar > footer {
  margin-left: 0;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        margin-left: 0;
    }

    nav .nav-wrapper {
        text-align: center;
    }
    nav .nav-wrapper a.page-title {
        font-size: 36px !important;
    }
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
}
nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 122px;
    line-height: 122px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    position: relative;
    flex: 1 0 auto;
}
main > .container {
    padding-top: 30px;
}
.centered-horizontal {
  position: absolute;
  top: 0;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.main-actions > a {
    margin: 0 5px;
}
@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}
.help-block {
    color: #F44336;
}

.side-nav .userView {
    position: relative;
    padding: 20px 32px 0;
    margin-bottom: 8px;
    height: 122px;
}
.side-nav .userView .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.side-nav .userView>a {
    height: auto;
    padding: 0;
    pointer-events: none;
}
.side-nav .userView .name {
    margin-top: 16px;
    font-weight: 500;
}
.side-nav .userView .email {
    padding-bottom: 16px;
    font-weight: 400;
}
.side-nav .userView .name, .side-nav .userView .email {
    font-size: 14px;
    line-height: 24px;
    display: block;
}
.side-nav .userView form {
    display: flex;
}
button.white-text.btn-flat {
    font-weight: bolder;
    text-transform: none;
    padding: 0 5px;
    margin-top: -20px;
    margin-left: -5px;
    width: 100%;
    text-align: left;
}