.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\E5DB";
}

a.desc:after {
    content: "\E5D8";
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

body .side-nav {
  width: 250px;
}
header, main, footer {
  margin-left: 250px;
  transition: all 0.2s ease;
}
body footer.page-footer {
  padding-top: 0px;
}
body footer.page-footer .row {
  margin-bottom: 0px;
}
body footer .material-icons {
  vertical-align: middle;
  margin-right: 5px;
}
.no-sidebar > header, .no-sidebar > main, .no-sidebar > footer {
  margin-left: 0;
}
.no-sidebar .button-collapse.top-nav {
    display: none;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        margin-left: 0 !important;
    }
    .compact-button {
      display: none;
    }
    nav .nav-wrapper {
        text-align: center;
    }
    nav .nav-wrapper a.page-title {
        font-size: 36px !important;
    }
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
}
nav.top-nav a.page-title {
    line-height: 102px;
    font-size: 36px;
}
nav.top-nav a.page-title .col {
    padding-top: 27px;
}
nav.top-nav a.page-title .select-wrapper input {
    font-size: 36px;    
    border-bottom: 1px solid #fff;
}
nav.top-nav a.page-title .select-wrapper .caret {
    color: #fff;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 102px;
    line-height: 102px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    position: relative;
    flex: 1 0 auto;
}
main > .container {
    padding-top: 35px;
}
.centered-horizontal {
  position: absolute;
  top: 0;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.main-actions > a {
    margin: 0 5px;
}
.container {
    width: 90% !important;
    max-width: 100% !important;
}
.help-block {
    color: #F44336;
}

.side-nav .userView {
    padding: 1px 16px 0;
    height: 102px;
}
.side-nav .userView .email {
    padding-bottom: 0px;
}
.side-nav > li > a {
  padding: 0 16px;
}
body.compact .side-nav {
    width: 56px !important;
}
body.compact .side-nav .userView > a {
  visibility: hidden;
}
.side-nav .userView > a {
  white-space: nowrap;
}

body.compact .side-nav .subheader {
    display: none;
}

body.compact .side-nav .userView {
    padding: 1px 0;
}
body.compact header,
body.compact main,
body.compact footer {
    margin-left: 56px; 
}
.side-nav {
  transition: all 0.2s ease;
}

button.white-text.btn-flat.logout-button {
    font-weight: bolder;
    text-transform: none;
    padding: 0 5px;
    margin-top: -20px;
    margin-left: -21px;
    width: 218px;
    text-align: left;
}
button.white-text.btn-flat.logout-button:before {
    content: "\e879";
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    float: left;
    font-size: 24px;
    margin: 0 16px;
}
body.compact .side-nav button.white-text.btn-flat.logout-button {
    padding-left: 22px;
}
.compact-button i {
    position: absolute;
    top: 36px;
    color: rgba(0,0,0,0.54);
    background-color: #fff;
    font-size: 30px;
    box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.16), 4px 2px 6px 0 rgba(0,0,0,0.12);
}
.compact-button i:hover {
    background-color: #F3F3F3;
}
body.compact .compact-button i {
    transform: rotate(180deg);
    box-shadow: -1px -2px 4px 0 rgba(0,0,0,0.16), -4px -2px 6px 0 rgba(0,0,0,0.12);
}

/*
 * Draggabilly
 */
.grid {
  width: 100%;
}
.grid-item {
  float: left;
  min-width: 60px;
  min-height: 60px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 0 !important;
}
.card .card-content,
.card .card-reveal{
  padding: 0;
}
.card .card-header,
.card .card-body{
  padding: 10px;
}
.grid-item .card-header {
  border-bottom: 1px solid #ddd;
  position: relative;
}
.grid-item .card-header::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 42px;
    bottom: 0;
    content: '';
}
.grid-item .card-header .card-title {
  font-size: 1.3rem;
  line-height: initial;
  font-weight: normal;
}
.gutter-sizer { width: 1%; }
.grid-sizer,
.grid-item { width: 24%; }
.grid-item.width2 { width: 49%; }
.grid-item.width3 { width: 74%; }
.grid-item.width4 { width: 100%; }
/* Draggabilly adds is-dragging */
.grid-item.is-dragging,
/* Packery adds class while transitioning to drop position */
.grid-item.is-positioning-post-drag {
  background-color: rgba(0,0,0,0.05);
  z-index: 2; /* keep dragged item on top */
}

.grid-item.card .card-body {
    min-height: 300px;
    overflow: hidden;
}
.packery-drop-placeholder {
  background-color: rgba(0,0,0,0.05);
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}
/* Line graph axis*/
.axis--x path {
    display: none;
}
/* Line graph LINE*/
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.clickable-table table tbody tr {
    cursor: pointer;
}
.clickable-table table tbody tr:hover {
    background-color: rgba(0,0,0,0.1);
}

.invisible {
    visibility: hidden;
}

.input-field.field-secrule-secconfigfile  {
    position: static;
}
.file-field .help-block {
    font-size: .8rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: -30px;
}

/* Table style override */
td, th {
    padding: 5px;
    font-size: 14px;
    line-height: normal;
}

main .container {
    width: 96% !important;
}

.btn-primary{
    margin-bottom: 5px;
}

#chartdiv {
    width: 100%;
    height: 90%;
}