[Unit]
Description=SEC to DB
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/perl /var/www/secmon/secdb/secdb.pl

[Install]
WantedBy=multi-user.target
