RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php

Header set Content-Security-Policy "default-src 'self'; script-src 'none'; img-src 'self'; frame-ancestors 'self'; form-action 'self';"
Header set X-Content-Type-Options "nosniff"
Header set X-Frame-Options "SAMEORIGIN"
Header set X-XSS-Protection "1: mode=block"
